
body {
    font-family: 'Lora', serif;
    margin: 0;
    color: #211A1D;
    }

    h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    }

h1 {
    font-size: 50px;
    padding-bottom: 20px;
    border-bottom: solid;
    border-color: #B96A77;
    border-width: 1px;
}

h2 {
    color: #dc9428;
    font-weight: 375;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #B96A77;
    margin-top: 50px;
    margin-bottom: 15px;
}

h4 {
    font-family: 'WindSong', cursive;
    padding-top: 40px;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: regular;
}

#header_name p {
    font-family: 'Montserrat', sans-serif;
    /* color: #dc9428; */
    font-weight: thin;
    font-size: 20px;
    padding-top: 20px;
}

#header_row {
    /* background-image: url(photo/background.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover; */
    text-align: left;
    /* background-color: rgba(216, 191, 216, 0.185);
    padding-bottom: 30px; */
}

#header_img img {
    border-radius:100%;
    padding: 20px;
}


#header_name {
    border: none;
}

.col-sm-4 {
    padding-top: 50px;
    /* padding-right: 50px; */
    padding-left: 70px;
}

.col-sm-8 {
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 100px;
}

.col-12 {
    padding-left: 50px;
    padding-right: 50px;
    border: none;
}

.col-md-4 {
    margin-bottom: 80px;
}
.col-md-8 {
    border-left: solid;
    border-width: thin;
    margin-bottom: 80px;
}

.container {
    margin: 50px;
}

.Profile {
    margin-bottom: 50px;
}

.PersonalInfo {
    margin-bottom: 50px;
}

.Skills {
    margin-bottom: 50px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #dc9428;
}

.company_university {
    font-family: 'Montserrat', sans-serif;
}

footer {
    color: white;
    padding-left: 90px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #d9c1bf;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}