h1 {
    color: #B96A77;
    margin-top: 20px;
}

h2 {
    color: #dc9428;
    margin-bottom: 20px;
}

h3 {
    margin-top: 30px;
    margin-bottom: 15px;
}

header {
    background-image: url(photo/back.jpg);
    text-align: center;
    padding-top:75px;
    padding-bottom: 75px;
}

.header img {
    border-radius: 50%;
}

.col-8 {
    border-left: solid;
    border-width: thin;
    padding-left: 50px;
}

.row {
    padding-top: 50px;
}

.Profile {
    margin-bottom: 50px;
}

.PersonalInfo {
    margin-bottom: 50px;
}

.Skills {
    margin-bottom: 50px;
}

a {
    color: black;
}

a:hover {
    color: #B96A77;
}